body {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

p {
    color: rgba(0,0,0,0.86);
}

body > p {
    font-size: 19px;
    font-style: italic;
    position: relative;
    padding-left: 10px;
}

body > p::before {
    position: absolute;
    content: "";
    bottom: -13px;
    left: 0;
    width: 2px;
    height: 40px;
    background-color: black;
}

.link__vk {
    color: #1d528f;
}

h1 {
    text-align: center;
    color: rgb(34,34,34);
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: normal;
    width: 100%;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    align-items: flex-start;
}

.img-container {
    margin-right: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
}

.content-container > h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
}

.content-container a {
    color: #1d528f;
}

.content-container a:active {
    color: #1d528f;
}

.content-container > p {
    margin: 0;
    font-size: 19px;
    word-wrap: normal;
}

@media (max-width: 768px) {
    h1 {
        max-width: 300px;
    }

    .post {
        flex-direction: column;
        align-items: center;
    }

    .post > .img-container {
        margin-right: 0;
        margin-bottom: 5px;
    }
}
